<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
      <h2 style="color: aliceblue;">Gestor de Contactos</h2>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/contactos" style="color: white;" routerLinkActive="active" class="nav-link">Contactos</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container">
  <br>
  <router-outlet></router-outlet>
</div>