<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h3 style="color: aliceblue;">Lista de Contactos</h3>
        <div class="d-flex">
        <div class="btn btn-success">Add New Contacts</div>
    </div>
    </div>
</nav>


<table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Ericson</td>
        <td>Herrera</td>
        <td>Eric@gmail.com</td>
        <td>809-958-9632</td>
      <td>
        <button class="btn btn-success">Details</button>
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>