
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Agregar Nuevo Contacto</h4>
        <button type="button" aria-label="close" class="btn btn-danger" id="close" (click)="modal.dismiss()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div>
            <form [formGroup]="form" (ngSubmit)="saveContacts(form.value)">
                <div class="mb-3">
                    <label for="nombre"> Nombre </label>
                    <div class="input-group">
                        <input type="text" id="nombre" formControlName="nombre">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="apellido"> Apellido </label>
                    <div class="input-group">
                    <input type="text" id="apellido" formControlName="apellido">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email"> Email </label>
                    <div class="input-group">
                    <input type="text" id="email" formControlName="email">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="telefono"> Telefono </label>
                    <div class="input-group">
                    <input type="text" id="telefono" formControlName="telefono">
                </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" [disabled]="form.invalid">Send</button>
                    <button style="margin-left: 10px;" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
                </div>
        
            </form>
        </div>
        
    </div>
    <div class="modal-footer">

    </div>

</ng-template>


<button type="button" class="btn btn-success" (click)="modal.open(contenido)">Add New Contacts</button>